﻿@model PruebaCarritoDeCompras.Models.Carrito

@{
    ViewBag.Title = "Carrito";
}

<h2>Carrito</h2>

<div id="base" class="jumbotron row" style="min-width:340px;">
    <div class="col-lg-6">
        <div class="container">
            @if (Model != null && Model.Productos != null)
            {
                foreach (var producto in Model.Productos)
                {
                    @Html.Partial("TarjetaProducto(Carrito)", producto)
                }
            }
        </div>

    </div>

    <div class="row col-lg-6">
        <label>Total: </label>
        RD@(Model.Total.ToString("C"))
    </div>

</div>


<script src="//www.paypalobjects.com/api/checkout.js" async></script>
@using (Html.BeginForm())
{
    <button name="btPaypal" id="btPaypal" class="btn btn-default" type="button">Realizar compra</button>
}
<script type="text/javascript">
window.paypalCheckoutReady =function () {
paypal.checkout.setup("@PruebaCarritoDeCompras.Models.PayPalSettings.MerchantAccountID", {
environment:'@PruebaCarritoDeCompras.Models.PayPalSettings.Environment',
click:function (event) {
event.preventDefault();
paypal.checkout.initXO();
$.support.cors =true;
$.ajax({
url:'@Html.Raw(Url.Action("PayPaltoken", "Cart"))',
type:"GET",
async:true,
crossDomain:true,
//Load the minibrowser with the redirection url in the success handler
success:function (token) {
var url = paypal.checkout.urlPrefix + token;
//Loading Mini browser with redirect url, true for async AJAX calls
paypal.checkout.startFlow(url);
},
error:function (responseData, textStatus, errorThrown) {
alert("Something going wrong ");
//Gracefully Close the minibrowser in case of AJAX errors
paypal.checkout.closeFlow();
}
});
},
button: ['btPaypal']
});
}
</script>