﻿@model PruebaCarritoDeCompras.Models.CreateProductoViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Productos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Producto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CantDisponible, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CantDisponible, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CantDisponible, "", new { @class = "text-danger" })
            </div>
        </div>

        @{
            string rutaImagen = "";

            if (Model == null || Model.RutaImagen.IsEmpty())
            {
                rutaImagen = "/Imagenes/ImagenNoDisponible.png";
            }
            else
            {
                rutaImagen = Model.RutaImagen;
            }
        }

        <div class="form-group">
            <label class="control-label control-label col-md-2">Imagen del producto</label>
            <div class="col-md-10">
                <input id="ArchivoImagen" name="ArchivoImagen" type="file" style="display:none;" onchange="readURL(this, 'imagenProducto')">
                <img id="imagenProducto" src="@rutaImagen" style="width: 155px; height: 155px; display:block; border-radius: 5px; border: 5px solid rgb(217, 217, 217); margin-top: 7px;" onclick="selectAFile('ArchivoImagen')">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
            }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function readURL(input, imgElementId) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $("#" + imgElementId).attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function selectAFile(idInputFile) {
            document.getElementById(idInputFile).click();
        }
    </script>
}