﻿@model PruebaCarritoDeCompras.Models.Producto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Está seguro de que desea borrar el producto?</h3>
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2" style="height:200px; margin-bottom:10px;">
                <img src="@Model.RutaImagen" style="max-height: 100%;" />
            </div>

            <div class="col-lg-10">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CantDisponible)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CantDisponible)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Precio)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Precio)
                    </dd>
                </dl>
            </div>

        </div>

    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index", "Home")
        </div>
    }
</div>
