﻿@model PruebaCarritoDeCompras.Models.Producto

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles del producto</h2>

<div>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CantDisponible)
        @Html.HiddenFor(model => model.Descripcion)
        @Html.HiddenFor(model => model.Nombre)
        @Html.HiddenFor(model => model.Precio)
        @Html.HiddenFor(model => model.RutaImagen)

        @Html.ActionLink("Borrar", "Delete", "Productos", new { Id = Model.Id}, new { @class = "btn btn-danger", @style="float:right;" })

        <div class="container">
            <div class="row">
                <div class="col-lg-2" style="height:200px; margin-bottom: 10px;">
                    <img src="@Model.RutaImagen" style="max-height: 100%;" />
                </div>

                <div class="col-lg-10">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Nombre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Descripcion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CantDisponible)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CantDisponible)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Precio)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Precio)
                        </dd>
                    </dl>
                </div>

            </div>

        </div>

        @Html.LabelFor(model => model.Cantidad) 
        <input type="number" class="form-control" name="Cantidad" id="Cantidad" value="@(Model.Cantidad)" min="1" max="@Model.CantDisponible" style="display:inline;" onchange="VerificarCanidad(this)" onkeydown="VerificarCanidad(this)"/>
        
        <button type="submit" id="submit-btn" class="btn btn-primary" ><span class="glyphicon glyphicon-shopping-cart"></span> Agregar al carrito</button>
        @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
    }
        <br />
        <br />
        <div>
            @Html.ActionLink("Regresar a lista", "Index", "Home", null, new { @class = "btn btn-default"})
        </div>

</div>