﻿@model IEnumerable<PruebaCarritoDeCompras.Models.Producto>

@{
    ViewBag.Title = "Pureba";
}

<h2>Pureba</h2>


<h5 style="text-align:right;">
    <label>Usuario: </label>
    @if (User.Identity.IsAuthenticated)
    {
        @User.Identity.Name
    }
</h5>
<h5 style="text-align:right;">
    <label>Fecha: </label>
    @DateTime.Now
</h5>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            Sub-total
        </th>
        <th></th>
    </tr>

    @{
        decimal total = 0;
        decimal subTotal = 0;
    }
    @foreach (var item in Model)
    {
        subTotal = item.Cantidad * item.Precio;

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                RD@(subTotal.ToString("C"))
            </td>
        </tr>

        total += subTotal;
    }

</table>

<br />

<h3>
    <label>Total: </label>
    RD@(total.ToString("C"))
</h3>













<button class="btn btn-default" type="button" onclick="RealizarCompra()" data-toggle="modal" data-target="#modalCompras">Realizar compra</button>


<div class="modal fade" id="modalCompras" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document" style="width:80vw;">
        <div class="modal-content" style="padding:20px;">
            <h1>Resumen de compra</h1>
            <table id="tablaCompra" class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Precio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cantidad)
                    </th>
                    <th>
                        Sub-total
                    </th>
                    <th></th>
                </tr>
            </table>

            <br />
            <h3>
                <label id="total"></label>
            </h3>

        </div>
    </div>
</div>






<script>
    function ObtenerProducos() {
        $.ajax({
            type: "POST",
            url: "/Productos/RealizarCompra",
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.success) {
                    var total = 0;
                    var subTotal = 0;
                    var productoActual;
                    var tabla = $("#tablaCompra");

                    tabla.html(`<tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Nombre)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Precio)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Cantidad)
                                    </th>
                                    <th>
                                        Sub-total
                                    </th>
                                    <th></th>
                                </tr>`
                    );

                    for (var indice = 0; indice < response.compra.Productos.length; indice++) {

                        productoActual = response.compra.Productos[indice];

                        subTotal = productoActual.Cantidad * productoActual.Precio;
                        total += subTotal;

                        tabla.append(`<tr>
                                        <td>
                                            `+ productoActual.Nombre +`
                                        </td>
                                        <td>
                                            `+ productoActual.Descripcion +`
                                        </td>
                                        <td>
                                            `+ productoActual.Precio +`
                                        </td>
                                        <td>
                                            `+ productoActual.Cantidad +`
                                        </td>
                                        <td>
                                            RD`+ subTotal.toFixed(2) +` $
                                        </td>
                                    </tr>`
                        );
                    }

                    $("#total").html("Total: RD" + total.toFixed(2) + "$");

                } else {
                    alert(response.responseText);
                }
            },
            error: function (response) {
                alert("error!");  //
            }

        });
    }
</script>

