﻿@model PruebaCarritoDeCompras.Models.Carrito

<h2>Confirmar Pago</h2>

<div class="container">
    @if (Model != null && Model.Productos != null)
            {
        <div class="panel panel-default" style="min-width:474px;">
            <!-- Default panel contents -->
            <div class="panel-heading">Resumen de compra</div>

            <!-- Table -->
            <table class="table">
                <tr>
                    <th>
                        Imagen
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Descripcion
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Sub-total
                    </th>
                    <th></th>
                </tr>
                @{
                    string subtotal = string.Empty;
                }
                @foreach (var producto in Model.Productos)
                {
                    subtotal = (producto.Precio * producto.Cantidad).ToString("C");

                    <tr>
                        <td>
                            @{
                                string rutaImagen = "";
                                if (producto.RutaImagen != string.Empty)
                                {
                                    rutaImagen = producto.RutaImagen;
                                }
                                else
                                {
                                    rutaImagen = "/Imagenes/ImagenNoDisponible.png";
                                }

                                <div id="colIzquierda" style="background-image: url(@rutaImagen); background-size: contain; background-position: left center; background-repeat: no-repeat; width: 60px; height:60px; border-radius:4px 0 0 4px;"></div>
                            }
                        </td>
                        <td>
                            @producto.Nombre
                        </td>
                        <td>
                            @producto.Descripcion
                        </td>
                        <td>
                            @producto.Cantidad
                        </td>
                        <td>
                            @producto.Precio.ToString("C")
                        </td>
                        <td>
                            RD@(subtotal)
                        </td>
                    </tr>
                                }

            </table>
        </div>
                                }
</div>

<h3>
    <label>Total: </label>
    RD@(Model.Total.ToString("C"))
</h3>





@{
    ViewBag.Title = "CheckoutReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@ViewData["ReturnMessage"]
<a href="@Url.Action("DoCheckoutPayment","Cart",new {token=ViewData["token"],PayerID=ViewData["PayerID"] })" class="btn btn-default">Confirmar Pago</a>