﻿@model PruebaCarritoDeCompras.Models.Carrito

@{
    ViewBag.Title = "Resumen de compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-success" style="margin:100px auto; text-align:center;">
    <span class="glyphicon glyphicon-ok-sign"></span>
    La compra se realizó correctamente

    <span style="display:block; margin-top:50px;">
        <a href="@Url.Action("Index", "Home")" class="btn btn-default"><span class="glyphicon glyphicon-home"></span> Volver a inicio</a>
        <a href="@Url.Action("Carrito", "Productos")" class="btn btn-default"><span class="glyphicon glyphicon-shopping-cart"></span> Volver al carrito</a>
    </span>
</h2>

<div class="container">
    @if (Model != null && Model.Productos != null)
            {
        <h5 style="text-align:right;">
            <label>Usuario: </label>
            @if (User.Identity.IsAuthenticated)
            {
                @User.Identity.Name
            }

            <label>Fecha: </label>
            @DateTime.Now
        </h5>
        <div class="panel panel-default" style="min-width:474px;">
            <!-- Default panel contents -->
            <div class="panel-heading">Resumen de compra</div>

            <!-- Table -->
            <table class="table">
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Descripcion
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Sub-total
                    </th>
                    <th></th>
                </tr>
                @{
                    string subtotal = string.Empty;
                }
                @foreach (var producto in Model.Productos)
                {
                    subtotal = (producto.Precio * producto.Cantidad).ToString("C");

                    <tr>
                        <td>
                            @producto.Nombre
                        </td>
                        <td>
                            @producto.Descripcion
                        </td>
                        <td>
                            @producto.Cantidad
                        </td>
                        <td>
                            RD@(producto.Precio.ToString("C"))
                        </td>
                        <td>
                            RD@(subtotal)
                        </td>
                    </tr>
                }

            </table>
        </div>
                    }
</div>

<h3>
    <label>Total: </label>
    RD@(Model.Total.ToString("C"))
</h3>


<label>Mensaje retornado</label>
@ViewData["ReturnMessage"]