﻿@{
    ViewBag.Title = "ProductOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="//www.paypalobjects.com/api/checkout.js" async></script>
<h2>ProductOrder</h2>
@using (Html.BeginForm())
{
    <button name="btPaypal" id="btPaypal" type="button">Express Check Out</button>
}
<script type="text/javascript">
window.paypalCheckoutReady =function () {
paypal.checkout.setup("@PruebaCarritoDeCompras.Models.PayPalSettings.MerchantAccountID", {
environment:'@PruebaCarritoDeCompras.Models.PayPalSettings.Environment',
click:function (event) {
event.preventDefault();
paypal.checkout.initXO();
$.support.cors =true;
$.ajax({
url:'@Html.Raw(Url.Action("PayPaltoken", "Cart"))',
type:"GET",
async:true,
crossDomain:true,
//Load the minibrowser with the redirection url in the success handler
success:function (token) {
var url = paypal.checkout.urlPrefix + token;
//Loading Mini browser with redirect url, true for async AJAX calls
paypal.checkout.startFlow(url);
},
error:function (responseData, textStatus, errorThrown) {
alert("Something going wrong ");
//Gracefully Close the minibrowser in case of AJAX errors
paypal.checkout.closeFlow();
}
});
},
button: ['btPaypal']
});
}
</script>