﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="@Url.Action("Carrito", "Productos")" style="position:relative;">
                    <span id="flechaAbajo" class="glyphicon glyphicon-arrow-down" style="position: absolute;"></span>
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                    Carrito
                </a>
            </li>
            <li>
                @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">

        <li><a href="@Url.Action("Carrito", "Productos")"><i class="glyphicon glyphicon-shopping-cart"></i> Carrito</a></li>
        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}




<style>
    #flechaAbajo {
        opacity: 0;
    }

    @@keyframes agegarACarrito {
        from {
            opacity: 1;
            font-size: 50pt;
        }

        to {
            opacity: 0;
            font-size: initial;
        }
    }
</style>