﻿@model PruebaCarritoDeCompras.Models.RealizarCompraViewModel

<button class="btn btn-default" type="button" onclick="RealizarCompra()" data-toggle="modal" data-target="#modalCompras">Realizar compra</button>


<div class="modal fade" id="modalCompras" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document" style="width:80vw;">
        <div class="modal-content" style="padding:20px;">

        </div>
    </div>
</div>

<script>

    function RedireccionarAlCerrarModal() {
        $('#modalCompras').on('hide.bs.modal', function (e) {
            window.location.href = "@Url.Action("Carrito", "Productos")";
        })
    }


    function RealizarCompra() {
        $.ajax({
            type: "POST",
            url: "/Productos/RealizarCompra",
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                ResumenCompra(response);

                if (response.success)
                    RedireccionarAlCerrarModal();
            },
            error: function (response) {
                alert("No se pudo solicitar la realización de la compra!");  //
            }

        });
    }

    function ResumenCompra(response) {
        var contenidoDelModal = $(".modal-content");
                if (response.success) {
                    var total = response.compra.Total;;
                    var subTotal = 0;
                    var productoActual;

                    var rows = "";
                    for (var indice = 0; indice < response.compra.Productos.length; indice++) {

                        productoActual = response.compra.Productos[indice];

                        subTotal = productoActual.Cantidad * productoActual.Precio;

                        rows += `
                                <tr>
                                    <td>
                                        `+ productoActual.Nombre + `
                                    </td>
                                    <td>
                                        `+ productoActual.Descripcion + `
                                    </td>
                                    <td>
                                        `+ productoActual.Precio + `
                                    </td>
                                    <td>
                                        `+ productoActual.Cantidad + `
                                    </td>
                                    <td>
                                        RD`+ subTotal.toFixed(2) + ` $
                                    </td>
                                </tr>`;
                    }

                    contenidoDelModal.html(`
                        <h2 class="text-success" style="margin:100px auto; text-align:center;">
                            <span class="glyphicon glyphicon-ok-sign"></span>
                            La compra se realizó correctamente

                            <span style="display:block; margin-top:50px;">
                                <a href="@Url.Action("Index", "Home")" class="btn btn-default"><span class="glyphicon glyphicon-home"></span> Volver a inicio</a>
                                <a href="@Url.Action("Carrito", "Productos")" class="btn btn-default"><span class="glyphicon glyphicon-shopping-cart"></span> Volver al carrito</a>
                            </span>
                        </h2>

                        <h1>Resumen de compra</h1>


                        <h5 style="text-align:right;">
                            <label>Usuario: </label>
                            @if (User.Identity.IsAuthenticated)
                            {
                                @User.Identity.Name
                            }
                        </h5>
                        <h5 style="text-align:right;">
                            <label>Fecha: </label>
                            @DateTime.Now
                        </h5>


                        <table class="table">
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Descripcion
                                </th>
                                <th>
                                    Precio
                                </th>
                                <th>
                                    Cantidad
                                </th>
                                <th>
                                    Sub-total
                                </th>
                                <th></th>
                            </tr>
                         ` + rows + `
                        </table>

                        <br />
                        <h3>
                            <label>` + "Total: RD" + total.toFixed(2) + "$" + `</label>
                        </h3>`
                    );

                } else {
                    contenidoDelModal.html(`
                        <h2 class="text-danger" style="margin:100px auto; text-align:center;">
                            <span class="glyphicon glyphicon-remove"></span>
                            Error al realizar la compra

                            <span style="display:block; margin-top:50px;">
                                <a href="@Url.Action("Index", "Home")" class="btn btn-default"><span class="glyphicon glyphicon-home"></span> Volver a inicio</a>
                                <a href="@Url.Action("Carrito", "Productos")" class="btn btn-default"><span class="glyphicon glyphicon-shopping-cart"></span> Volver al carrito</a>
                            </span>
                        </h2>

                        <h3 style="margin:100px auto; text-align:center;">`+ response.mensaje + `</h3>
                    `);
                }
    }
</script>