﻿@model PruebaCarritoDeCompras.Models.Producto

<div class="rounded row" style="background-color:#fff; margin-bottom:20px; min-width:250px;">
    <a href="@Url.Action("Details", "Productos", new { id = Model.Id})" class="col-md-6" style="height:100%; padding: 0;">
        @if (Model.RutaImagen != string.Empty)
        {
            <div style="background-image: url(@Model.RutaImagen); background-size: contain; background-position: left center; background-repeat: no-repeat; width: 100%; height:188px; border-radius:4px 0 0 4px;"></div>
        }
        else
        {
            <div style="background-image: url(/Imagenes/ImagenNoDisponible.png); background-size: contain; background-position: left center; background-repeat: no-repeat; width: 100%; height:188px; border-radius:4px 0 0 4px;"></div>
        }
    </a>


    <div class="col-md-6">

        <div class="card-body" style="position:relative;">
            <h2 class="card-title"><a style="color:#212529; text-decoration: none;" href="@Url.Action("Details", "Productos", new { id = Model.Id})" title="@Model.Nombre">@abreviarString(Model.Nombre, 35)</a></h2>

            <h3>@Html.DisplayFor(model => model.Descripcion)</h3>

            <h4>@Html.DisplayFor(model => model.Precio)</h4>

            <div>
                <h4>
                    @Html.LabelFor(model => model.CantDisponible):
                </h4>
                <h4 id="cantidadDisponible@(Model.Id)">
                    @Html.DisplayFor(model => model.CantDisponible)
                </h4>
                
            </div>

            @{
                if (Model.CantDisponible >= 1)
                {
                    if (Request.IsAuthenticated)
                    {
                        <a id="btnAgregarACarrito@(Model.Id)" class="btn btn-default" style="position: absolute; right: 0; bottom: 0;" onclick="AgregarAlCarrito(@Model.Id)"><span class="glyphicon glyphicon-shopping-cart"></span> Agregar al carrito</a>
                    }
                    else
                    {
                        <a id="btnAgregarACarrito@(Model.Id)" href="@Url.Action("AgregarProductoACarrito", "Productos", new { IdProducto = Model.Id})" class="btn btn-default" style="position: absolute; right: 0; bottom: 0;"><span class="glyphicon glyphicon-shopping-cart"></span> Agregar al carrito</a>
                    }
                }
                else
                {
                    <a class="btn btn-default disabled" style="position: absolute; right: 0; bottom: 0;"><span class="glyphicon glyphicon-shopping-cart"></span> Agregar al carrito</a>
                }
            }
        </div>

    </div>

</div>


@functions
{
    public string abreviarString(string stringCompleta, int tamFinal = 10, bool agregarPuntosSuspensivos = true)
    {
        string puntosSuspensivos = agregarPuntosSuspensivos ? "..." : "";

        if (tamFinal >= stringCompleta.Length || stringCompleta.Length <= 1)
        {
            return stringCompleta;
        }
        else
        {
            return stringCompleta.Substring(0, tamFinal) + puntosSuspensivos;
        }
    }
}