﻿@model PruebaCarritoDeCompras.Models.Producto

<div class="rounded row" style="background-color:#fff; margin-bottom:20px; min-width:250px;">
    <a href="@Url.Action("Details", "Productos", new { id = Model.Id })" class="col-md-2" style="height:100%; padding: 0;">
        @{
            string rutaImagen = "";
            if (Model.RutaImagen != string.Empty)
            {
                rutaImagen = Model.RutaImagen;
            }
            else
            {
                rutaImagen = "/Imagenes/ImagenNoDisponible.png";
            }

            <div id="colIzquierda" style="background-image: url(@rutaImagen); background-size: contain; background-position: left center; background-repeat: no-repeat; width: 100%; height:100px; border-radius:4px 0 0 4px;"></div>
        }
        
    </a>


    <div id="colDerecha" class="col-md-10">

        <div class="card-body" style="position:relative;">
            <h3 class="card-title"><a style="color:#212529; text-decoration: none;" href="@Url.Action("Details", "Productos", new { id = Model.Id})" title="@Model.Nombre">@abreviarString(Model.Nombre, 35)</a></h3>
            
            <h5 style="margin:0;">
                @Html.LabelFor(model => model.Cantidad):
                @Html.DisplayFor(model => model.Cantidad)
            </h5>

            <h5 style="margin:0;">
                @Html.LabelFor(model => model.Precio):
                @Html.DisplayFor(model => model.Precio)
            </h5>

            <h5 style="margin:0;">
                <label for="SubTotal">Sub-total: </label>
                @{ 
                    string subtotal = (Model.Precio * Model.Cantidad).ToString("C");
                }

                RD@(subtotal)
            </h5>
        </div>

    </div>

</div>


@functions
{
    public string abreviarString(string stringCompleta, int tamFinal = 10, bool agregarPuntosSuspensivos = true)
    {
        string puntosSuspensivos = agregarPuntosSuspensivos ? "..." : "";

        if (tamFinal >= stringCompleta.Length || stringCompleta.Length <= 1)
        {
            return stringCompleta;
        }
        else
        {
            return stringCompleta.Substring(0, tamFinal) + puntosSuspensivos;
        }
    }
}
