﻿@model IEnumerable<PruebaCarritoDeCompras.Models.Producto>

@{
    ViewBag.Title = "Busqueda";
}

<h2>Resultados de busqueda</h2>

<br />

<div id="base" class="jumbotron" style="min-width:340px;">
    <div>
        <div class="container">
            @foreach (var producto in Model)
            {
                @Html.Partial("TarjetaProducto", producto)
            }
        </div>
    </div>
</div>




@section Scripts{
    <script>
        function animarFlechaAbajo() {
            var carrito = document.getElementById("flechaAbajo");
            carrito.style.animation = "animation: agegarACarrito 3s;";
        }
    </script>
}