﻿@model IEnumerable<PruebaCarritoDeCompras.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<br />

<div id="base" class="jumbotron" style="min-width:340px;">
    <div>
        <div class="container">
            @foreach (var producto in Model)
            {
                @Html.Partial("TarjetaProducto", producto)
            }
        </div>
    </div>
</div>

@if (Request.IsAuthenticated)
{
    @section scripts{
        <script>
            function AgregarAlCarrito(IdProducto) {

                $.post('/Productos/AgregarAlCarrito', { IdProducto: IdProducto },
                    function (respuesta) {
                        if (respuesta.success) {
                            ActualizarProducto(respuesta.producto);
                            AnimarFlechaAbajo();
                        }
                        else {
                            alert("No se pudo agregar :'(");
                        }
                    }).fail(function () {
                        alert("No se pudo agregar el producto al carrito!");
                    });
            }

            function AnimarFlechaAbajo() {
                var flecha = document.getElementById("flechaAbajo");
                flecha.style.animation = "agegarACarrito 2s";
                setTimeout(function () { flecha.style.animation = "unset" }, 2000);
            }

            function ActualizarProducto(producto) {
                var elementoCantDisponible = document.getElementById("cantidadDisponible" + producto.Id);
                elementoCantDisponible.innerHTML = producto.CantDisponible;
                if (producto.CantDisponible < 1) {
                    $("#btnAgregarACarrito" + producto.Id).addClass("disabled");
                }
            }
        </script>
    }
}